---
import { getCollection } from 'astro:content';
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro'; 
import "../styles/global.css";

const allProjects = await getCollection('projects');
---

<Layout title="Meu Portfólio de Dashboards">
  <main class="p-8 max-w-7xl mx-auto">
    <header class="mb-12">
      <h1 class="text-2xl font-bold border-l-4 border-success pl-4 uppercase tracking-tighter">
        Painéis de Power BI e Códigos
      </h1>
    </header>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      {allProjects.map(project => (
        <ProjectCard 
          title={project.data.title}
          image={project.data.image}
          objectives={project.data.objectives}
          link={project.data.link}
        />
      ))}
    </div>
  </main>
</Layout>